[
 ;; User

 {:db/id #db/id[:db.part/db]
  :db/ident :user/name
  :db/index true
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/fulltext true
  :db/doc "A user's name"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/id
  :db/index true
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/identity
  :db/doc "A user's ID"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/active
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "A user's active?"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/broadcast
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "A user's broadcast?"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :user/admin
  :db/valueType :db.type/boolean
  :db/cardinality :db.cardinality/one
  :db/doc "A user's admin?"
  :db.install/_attribute :db.part/db}]
